/* NotFound.css */
:root {
  --main: #1A8795;
  --secondary: #fcedf6;
  --hover : #0c1c69;
  --text : #777360;
}

.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary);
  color: var(--text);
  text-align: center;
  padding: 4rem;
}

.notfound-container img {
  width: 40%;
}
.notfound-container h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.notfound-container p {
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
}

.notfound-container a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: var(--main);
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.notfound-container a:hover {
  background-color: var(--hover);
}